*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: #262626;
}
ul{
    list-style: none;
}
.container{
  width: 90%;
  max-width: 1100px;
  margin: auto;
}
       /* navbar */
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    font-size: 14px;
    transition: all ease .5s;
}
.main-nav .logo{
    width: 125px;
}
.main-nav ul{
    display: flex;
}
.main-nav ul li{
    padding: 0 10px;
}
.main-nav ul li a{
    padding-bottom: 2px;
}
.main-nav ul li a:hover{
    border-bottom: 1px solid black;
}
.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px;
}
.btn{
    display: inline-block;
    color: #fff;
    background-color: #262626;
    padding: 10px 20px ;
    border: 0;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover{
   opacity: 90%;
}
        /* Showcase  */
.Showcase{
    width: 100%;
    height: 400px;
    background: url(image/slide1.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 50px;
}
.Showcase h2 , .Showcase p{
    margin-bottom: 10px;
}
.Showcase .btn{
    margin-top: 20px;
}
/* Style cards-1 */
.home-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    gap: 20px;
    margin-bottom: 30px;
}
.home-cards img{
    width: 100%;
    margin-bottom: 15px;
}
.home-cards h3{
    margin-bottom: 5px;
}
.home-cards a{
    display: inline-block;
    color: #0068b8;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.home-cards a:hover{
 color: #013760 ;
}
    /* Xbox */
    .xbox{
        width: 100%;
        height: 350px;
        background: url(image/xbox.png) no-repeat center center/cover;
        margin-bottom: 20px;
    }
    .xbox .content{
        width: 40%;
        padding: 50px 0 0 30px;
    }
    .xbox p{
        margin: 10px 0 20px;
    }
    /* Style cards-2 */
    .home-cards-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-bottom: 30px;
}
.home-cards-2 img{
    width: 100%;
    margin-bottom: 15px;
}
.home-cards-2 h3{
    margin-bottom: 5px;
}
.home-cards-2 a{
    display: inline-block;
    color: #0068b8;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.home-cards-2 a:hover{
    color: #013760 ;
}
 /* carbon */
.carbon{
    width: 100%;
    height: 350px;
    background: url(image/carbon.jpg) no-repeat center center/cover;
}
.carbon .content{
    width: 55%;
    padding: 100px 0 0 30px;
}
.carbon .content p{
 color: #fff;
 padding: 10px 0 20px 0;
}
.carbon .content h2{
    color: #fff;
    padding-bottom: 5px;
   }
.carbon .content a{
    background-color: #fff;
    color: #000;
    margin-top: 20px;
}
/* follow */
.social{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    margin: 30px 0 30px;
}
.social *{
    margin-right: 10px;
}
  /* links */
  .links{
    background-color: #f2f2f2;
    color: #616161;
    padding: 30px 0;
    font-size: 13px;
  }
  .link-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

  }
  .links li{
    line-height: 2.9;
  }
 /* footer */
  .footer{
    background-color: #f2f2f2;
    color: #616161;
    padding: 20px 0;
    font-size: 13px;
  }
  .footer-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer div{
     margin-bottom: 20px;
     display: flex;
     align-items: center;
  }
 .footer div i{
    margin-right: 10px;
 }
 .footer ul{
    display: flex;
    flex-wrap: wrap;
 }
 .footer ul li{
    margin-right: 30px;
    margin-bottom: 20px;
 }
                @media (max-width:700px){
           .main-nav ul.main-menu{
     display: none;
     position: absolute;
     top: 0;
     left: 0;
     width: 50%;
     height: 50%;
     border-right: 1px solid #ccc;
     border-bottom: 1px solid #ccc;
     background-color: #f2f2f2;
     opacity: 85%;
     padding: 30px;
     transition: all ease .5s;
    }
       .main-nav ul.main-menu li{
          padding: 10px;
          border-bottom: 1px solid #ccc;
          border-left: 1px solid #eaeaea;
          font-size: 16px;
     }
          .home-cards{
           grid-template-columns: repeat(2,1fr);
        }
          .home-cards-2{
           grid-template-columns: repeat(2,1fr);
        }
        .xbox .content p{
            display: none;
            /* font-size: 10px; */
        }
        .xbox .content h2{
            margin-bottom: 20px;
        }
        .carbon .content{
            width: 85%;
        }
        .links .link-inner{
            grid-template-columns: repeat(2,1fr);
        }
        .footer .footer-inner{
        flex-direction: column;
        }
 }
@media (max-width:500px){
    .home-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .home-cards-2{
        grid-template-columns: repeat(1,1fr);
    }
    .links .link-inner{
        grid-template-columns:1fr;
    }

}
